h1 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
  text-align: center;
  color: rgb(196, 9, 9);
  font-style: oblique;
  outline-color: brown;
}

body {
  background-color: black;
}